body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 50px 5vw;
  background-color: #fff;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}
h1, form, .controls, .description {
  text-align: center;
}
form {
  margin-bottom: 30px;
}
ol {
  margin: 30px 0 10px;
}
.result {
  margin: 0 0 20px;
}     
.preview {
  display: none;
  position: fixed;
  overflow: auto;
  inset: 30px 12vw;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  z-index: 10;
}
.preview::before {
  content: 'Click to close';
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  color: #aaa;
  letter-spacing: 1px;
}
input:checked + span + .preview {
  display: block;
}
.url input {
  display: none;
}
.link, a {
  cursor: pointer;
  color: #35e;
}
.controls {
  font-weight: bold;
}
.controls a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 14px;
}
.domain {
  font-weight: bold;
}
.path {
  color: #aaa;
}